@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  perspective: 500px;
  background: linear-gradient(135deg, #c9dee4, #32a19c);
}

.line{
    margin: -32px 0px 40px 0px;
  }
  #err {
    animation: 4s anim-fromtop linear infinite;
    font-size: 20px;
    color: rgba(230, 31, 24, 0.74);
  }
  @keyframes anim-fromtop {
    0% { opacity: 0; transform: translateY(-100%);}
    25% { opacity: 1; transform: translateY(0%);}
    50% {
    }
    100% {
    }
  }