<!-- header section starts  -->

<header class="header">

  <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> medcare. </a>

  <nav class="navbar">
    <a href="/">home</a>
    <a href="/services">services</a>
    <a href="/about">about</a>
    <a href="/docters">doctors</a>
    <a href="/book">Appointment</a>
    <a href="/review">review</a>
    <a href="/blogs">blogs</a>
    <a href="/login" id="login">Login/Register</a>
    <div class="dropdown">
      <button class="dropbtn">Logout
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
      <div class="dropdown-content">
        <a href="/logout">Logout</a>
        <a href="/logouts">Logout all devices</a>
      </div>
    </div>

  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>

</header>

<!-- header section ends -->